
p {
    text-align: center;
    color: grey;
    padding-top: 20px;
    
}
form {
    padding: 20px 0 0 100px;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    
}
table {

    color: white;
    width: 50%;
    background-color: darkolivegreen;
}
table, th, td {
    border: 1px solid red;
 
}
th, td {
    padding: 15px;
}
th {
    text-align: center;
   color: darkblue;
    text-decoration:double;
    font-size: xx-large;
   
}
